$def with (page)
<html>
<head>
<title>$page.get("title", "")</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
</head>
<body>
<div class="underlinemenu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#">Gallery</a></li>
    $if session.login > 0:
        <li><a href="/logout">Log out [$session.user]</a></li>
    $else:
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Sign up</a></li>
    </ul>
</div>

$:page

</body>
</html>